my-app-toolbar {

  .imageQR {
    background: url(../assets/images/qr-code.svg)
    no-repeat center center;
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    margin-right:-8px!important;
  }

  button.addButton{
    height: 2.5em;
    width: 4.5em;
    margin-left:-1.8em;
  }

  ion-item.addbuttonrow{
    padding-top: 1em!important;
  }

  .help-block{
    font-size: smaller;
    color: darkred;
    /*padding-left:1.3em;*/
    padding-top:0.3em;
  }

  .width-50{
    width: 50%;
  }

  .powered-by
  {
    font-size:10.5px;
    color:#286382;
    cursor:pointer!important;
  }

}
