# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
www/
www/build/
platforms/android/CryptoBalance_b4_release_build/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
plugins/android.json
res/drawable-port-hdpi/screen.png
res/drawable-port-ldpi/screen.png
res/drawable-port-mdpi/screen.png
res/drawable-port-xhdpi/screen.png
res/drawable-port-xxhdpi/screen.png
res/drawable-port-xxxhdpi/screen.png
res/mipmap-hdpi/icon.png
res/mipmap-ldpi/icon.png
res/mipmap-mdpi/icon.png
res/mipmap-xhdpi/icon.png
res/mipmap-xxhdpi/icon.png
res/mipmap-xxxhdpi/icon.png
.editorconfig
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/packages
.meteor/platforms
.meteor/release
.meteor/versions
client/main.css
client/main.html
client/main.js
my-release-key.keystore
package-lock.json
src.txt
src_n.txt
resources/android/splash/drawable-land-hdpi-screen.png
resources/android/splash/drawable-land-ldpi-screen.png
resources/android/splash/drawable-land-mdpi-screen.png
resources/android/splash/drawable-land-xhdpi-screen.png
resources/android/splash/drawable-land-xxhdpi-screen.png
resources/android/splash/drawable-land-xxxhdpi-screen.png
resources/icon.png.md5
resources/splash.png.md5
plugins/phonegap-plugin-push/CHANGELOG.md
plugins/phonegap-plugin-push/MIT-LICENSE
plugins/phonegap-plugin-push/README.md
plugins/phonegap-plugin-push/bower.json
plugins/phonegap-plugin-push/docs/API.md
plugins/phonegap-plugin-push/docs/EXAMPLES.md
plugins/phonegap-plugin-push/docs/INSTALLATION.md
plugins/phonegap-plugin-push/docs/ISSUES.md
plugins/phonegap-plugin-push/docs/PAYLOAD.md
plugins/phonegap-plugin-push/docs/PHONEGAP_BUILD.md
plugins/phonegap-plugin-push/docs/PLATFORM_SUPPORT.md
plugins/phonegap-plugin-push/docs/TYPESCRIPT.md
plugins/phonegap-plugin-push/package.json
plugins/phonegap-plugin-push/plugin.xml
plugins/phonegap-plugin-push/push.gradle
plugins/phonegap-plugin-push/spec/helper/cordova.js
plugins/phonegap-plugin-push/spec/index.spec.js
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/BackgroundActionButtonHandler.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/FCMService.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PermissionUtils.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PushConstants.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PushDismissedHandler.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PushHandlerActivity.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PushInstanceIDListenerService.java
plugins/phonegap-plugin-push/src/android/com/adobe/phonegap/push/PushPlugin.java
plugins/phonegap-plugin-push/src/browser/ServiceWorker.js
plugins/phonegap-plugin-push/src/browser/manifest.json
plugins/phonegap-plugin-push/src/ios/AppDelegate+notification.h
plugins/phonegap-plugin-push/src/ios/AppDelegate+notification.m
plugins/phonegap-plugin-push/src/ios/PushPlugin.h
plugins/phonegap-plugin-push/src/ios/PushPlugin.m
plugins/phonegap-plugin-push/src/js/push.js
plugins/phonegap-plugin-push/src/windows/PushPluginProxy.js
plugins/phonegap-plugin-push/types/index.d.ts
plugins/phonegap-plugin-push/example/server/pushADM.js
plugins/phonegap-plugin-push/example/server/pushAPNS.rb
plugins/phonegap-plugin-push/example/server/pushAzure.js
plugins/phonegap-plugin-push/example/server/pushGCM.rb
