page-wallet-details {
  .ion-md-copy {
    content: "\f2da";
    color: black;
    margin-top: -0.07em!important;
    font-size: 2em!important;
  }
  .ion-ios-copy {
    content: "\f41c";
    color: black;
    margin-top: -0.5em!important;
    font-size: 1.8em!important;
  }
}

